# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env files (secrets)
.env
.env.*
.env.docker
!.env.example

# Database dumps
*.dump
*.sql
*.backup

# Virtual environment
venv/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log